# Importing modules

In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score

# Loading Data

In [2]:
data=pd.read_csv(r"C:\Users\SHIVA KUMAR\Downloads\Advertising.csv")

In [3]:
print(data.head())

   Unnamed: 0     TV  Radio  Newspaper  Sales
0           1  230.1   37.8       69.2   22.1
1           2   44.5   39.3       45.1   10.4
2           3   17.2   45.9       69.3    9.3
3           4  151.5   41.3       58.5   18.5
4           5  180.8   10.8       58.4   12.9

In [4]:
data.drop(data.columns[0] , axis=1, inplace=True)

In [5]:
print(data.head())

      TV  Radio  Newspaper  Sales
0  230.1   37.8       69.2   22.1
1   44.5   39.3       45.1   10.4
2   17.2   45.9       69.3    9.3
3  151.5   41.3       58.5   18.5
4  180.8   10.8       58.4   12.9

# Data Preprocessing

In [6]:
data.isnull().sum().to_frame().rename(columns={0:"Total_No_of_Missing_values"})

           Total_No_of_Missing_values
TV                                  0
Radio                               0
Newspaper                           0
Sales                               0

In [7]:
data.duplicated().sum()

0

In [8]:
data.describe().T

           count      mean        std  min     25%     50%      75%    max
TV         200.0  147.0425  85.854236  0.7  74.375  149.75  218.825  296.4
Radio      200.0   23.2640  14.846809  0.0   9.975   22.90   36.525   49.6
Newspaper  200.0   30.5540  21.778621  0.3  12.750   25.75   45.100  114.0
Sales      200.0   14.0225   5.217457  1.6  10.375   12.90   17.400   27.0

# classification of features and target

In [9]:
features=["TV","Radio","Newspaper"]
target="Sales"
X=data[features]
y=data[target]

# Training Model

In [10]:
X_train,X_test,y_train,y_test=train_test_split(X,y)

In [11]:
model=LinearRegression()

In [12]:
model.fit(X_train,y_train)

LinearRegression()

In [13]:
pred=model.predict(X_test)

# Testing Accuracy of Model

In [14]:
mean_squared_error(y_test,pred)

2.7992677388333083

In [15]:
r2_score(y_test,pred)

0.8991566520259069